.container{
    width: 80%;
    @apply m-auto mb-10 py-16
}

.row{
    @apply grid grid-cols-7 gap-16
}

.col3{
    @apply  col-span-5 text-center
}
.col1{
    @apply col-span-2
}
.col{
    @apply bg-white mb-12 py-16
}

.title{
    @apply  font-medium text-2xl cursor-pointer ;
    /* color:red */
}
.categoryPost{
    @apply mb-8 mt-4
}

.contentPost{
    @apply text-left px-16 my-8
}

.tacGiaAndViews{
    @apply flex justify-between px-16
}
.tacGiaAndViews p{
    @apply text-left text-gray-800
}

.btnDetailPost{
    @apply border py-2 px-4 rounded my-4;
    border: 1px solid #000
}
.btnDetailPost:hover{
    @apply text-white bg-black;
    
}

.avatar{
    @apply   text-center max-w-full max-h-full ;
    width: 100%;
    height: auto;
}

.topViews{
    @apply bg-white text-center px-8 py-8
}

/* detail Posst */

.rowDetail{
    @apply flex  gap-8
}

.viewAndLikes{
    @apply flex gap-4
}

.btnLike{
    @apply my-4 px-4 py-1 border rounded ;
    /* background-color: red; */
}

/* share */
.share {
    @apply text-left mt-4 px-16 flex gap-4
}
.share div{
    @apply my-2 flex gap-3
}



/* comment */


/* .comment .title{
    @apply text-2xl font-bold mb-2  ;
   
  } */
  .comment{
    @apply bg-white p-16 
  }
   .content{
    @apply py-2 border-b
  }
   .info{
    @apply flex gap-4  ;
    /* line-height: normal */
  }
   .info div p{
    @apply font-semibold ;
  }
 .info a img{
    border-radius: 50%;
  }

  .stars i{
    color: var(--green);
    @apply text-sm;
  }

 